body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("sky.jpg");
    opacity: .82;
    height: 100vh;
    background-size:cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#weather-div{
  margin-top:2rem;
  margin-bottom: 4rem;
  background:linear-gradient(180deg,#240046,#240046,#0d6efd);
  height: 90vh;
  margin-top: 5vh;
}
h1{
  font-size: 3rem;
}
#time{
  font-size: 1.5rem;
}
.clock{
  width: 200px;
  height: auto;
  align-items: center;
  background-color: #f0eff420;
  padding: 3px;
}
form{
  margin: 10px auto;
}
.icon img{
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.temperature{
  font-size: 4rem;
  font-weight: bold;
}
.description{
  font-size: 1.5rem;
}
.details{
  font-size: 1.1rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.details-items:hover{
  background-color: #24004650;
}
.details-items{
  background-color: #0d6efd30;
  padding: 1rem;
  transition: .2s ease-in-out;
  box-shadow: 0 0 rem #f0eff4;
  flex-direction: column;
}
.ext-1,.ext-2,.ext-3{
  flex-direction: column;
  margin-bottom: 2px;
}

@media (max-width:800px){
  form{
    flex-direction: column;
  }
  #city-input{
    width: 100%;
    border-radius: 2px;
    margin-bottom: .5rem;
  }
  #city-btn{
    width: 100%;
    border-radius: 2px;
  }
  h1{
    font-size: 2rem;
  }
  h1 img{
    width: 25px;
    height: auto;
  }
  .icon img{
    width: 3rem;
    height: 3rem;
  }
  .temperature{
    font-size: 2rem;
  }
  .description{
    font-size: 1rem;
  }
  .details{
    width: 100%;
    justify-content: center;
    
  }
  .details-items{
    padding: .5rem;
    font-size: .7rem;
    width: 100%;
  }
  
}
